

/*Les couleurs de la charte sont le bleu (#0065FC), une version plus claire de ce bleu
(#DEEBFF) et le gris pour le fond (#F2F2F2).
*/
.bleu{
   color:#0065FC
}

.claire-bleu{
   color:#DEEBFF;
}

.gris{
   color:#F2F2F2;
}

.bg-gris{
   background-color: #F2F2F2;
}

.p-1{
   padding:1rem;
}

.p-2{
   padding:2rem;
}

/*global styles*/

/* googlefonts Raleway */

@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100;400;700&display=swap');

/* Il est souvent utile de définir la taille des boîtes sur border-box pour mettre en page les éléments.
 Cela facilite grandement la gestion des tailles des éléments et élimine généralement un certain nombre de pièges
  que vous pouvez rencontrer lors de la mise en page de votre contenu.
  Il garantit que la boîte de contenu se rétrécit pour faire de la place pour le rembourrage et les bordures.*/

  *{
   font-family: 'Raleway', sans-serif;
   line-height:1.6;
   box-sizing: border-box;
   margin:0; 
   padding:0;
}


html{
   scroll-behavior: smooth;
}

body{
   width:100vw;
   height:100vh;
   background-color: white;
   padding:1rem;
}

body::-webkit-scrollbar{
	display: none;
}

img{
   width: 100%;
   height: 100%;
}

main img,aside img{
   object-fit:cover;
}


h1,h2,h3,h4,h5,h6{
   
   font-weight: 700;
   color:black;
  
}

p{
   font-weight: 400;
   color:black;
   font-size: 1rem;
}

ul{
   list-style-type:none;
}

a{
   text-decoration:none;
   color:black;
}

h1,h2{
   font-size:1.375rem;
   
}

h3{
   font-size: 0.9rem;
}

/*mise en page*/

.flex{
   display:flex;
}

.row{
   flex-direction: row;
}

.col{
   flex-direction: column;
}


.wrapper{
max-width:1400px;
flex-direction: column;
justify-content: center;
align-items: center;
gap:2rem;
padding:1rem;
margin:auto;
}

.main-header{
   flex-direction:row;
   justify-content: space-between;
   align-items: center;
   margin-bottom: 1rem;
   
}

.hero{
   flex-direction: column;
   padding-top:2rem;
   gap:1rem;
}

.search-form{
   flex-direction: row;
   justify-content: flex-start;
   align-items: center;
}

.filtres-section{
   flex-direction: row;
   align-items: center;
   gap:0.5rem;
}

.filtres-links{
   flex-direction: row;
   align-items:center;
   justify-content: center;
   flex-wrap: wrap;
   
  
}

.filtres-links li{
   margin:1vw;
   display:flex;
   background-color: white;
   border:1px #F2F2F2 solid;
   border-radius: 1rem;
   padding:0.3rem;
   line-height:19px;
   align-items: center;
}


.filtres-links li:hover{
   background-color: #DEEBFF;
}

.filtres-links i{
   padding-right:0.3rem;
   color:#0065FC;
}

.main-content{
   flex-direction: row;
   gap:1rem;
   padding-top: 2rem;
}

.hosting{
   flex-direction: column;
   flex:2;
   
}

.populaire{
   flex-direction: column;
   flex:1;
}

.hosting img{
 height:124px;

   
}

.populaire img{
   height:100%;
}



.groupe{
 gap:1rem;
 padding:2rem;
}

.groupe > *{
   
   width:100%;
   gap:1rem;
   display:flex;
}

.hosting .carte{
   flex-direction: column;
   flex-wrap: wrap;
}



.populaire-header{
   flex:1;
   width: 5.563rem;
   height:7rem;
   flex-wrap: wrap;
}

.populaire-content{
   flex:2;
   justify-content: space-around;
   padding-left: 1rem;
   flex-direction: column;
}

.populaire .groupe{
   flex-direction: column;
}


.main-footer{
 flex-direction: row;
 background-color: #F2F2F2;
 justify-content: space-evenly;
 gap:1rem;
 padding:2rem;
}

.external-links{
  
   flex-direction: column;
}

.carte-activities {
   border-radius: 1.25rem;
   box-shadow: 0 4px 8px 0 rgb(0 0 0 / 20%);
   background-color: white;
   transition: 0.3s;
   max-width: 14rem;
   margin:0.5rem;
}

.activities-img {
   
   height: 22.75rem;
}

.activities img {
   border-top-left-radius: 1.25rem;
   border-top-right-radius: 1.25rem;
   object-fit: cover;
}

.activities-groupe{
   flex-direction: row;
   justify-content: space-evenly;
   padding:2rem;
   gap:0.5rem;
}

.activities-groupe >*{
 flex:1;
 flex-wrap: wrap;
}

.content{
   padding:0.5rem;
}

.hosting,.populaire{
   border-radius:1.2rem;
}

/* components*/

.logo{
   width:3.869rem;
   height:1.188rem;
   
}

.navigation{
   flex-direction:row;
  
}

.navigation a{
   color:#0065FC;
   font-size: 1rem;
   border-top: 3px solid white;
   padding:1rem;
}

.navigation a:hover{
   color:#0065FC;
   border-top: 3px solid #0065FC;
}

.search-label{
   background-color: #F2F2F2;
   border-radius: 0.625rem;
   border-top-right-radius: 0%;
   border-bottom-right-radius: 0%;
   padding: 10px;
 }

 input[type=search] {
   border: 0.07rem solid #F2F2F2;
   font-weight: 700;
   padding: 11px;
   color:black;
 }

 input[type=submit] {

   border: none;
   background-color: #0065FC;
   color: white;
   padding: 11px;
   border-radius: 0.5rem;
   border-top-left-radius: 0%;
   border-bottom-left-radius: 0%;
   
 }

 .submit-mobile{
   display:none;
   border: none;
   background-color: #0065FC;
   color: white;
   padding: 10px;
   border-radius: 0.5rem;
   border-top-left-radius: 0%;
   border-bottom-left-radius: 0%;
 }

 .filtres-links a{
   font-size: 1rem;
 }

 main img{
   object-fit: cover;
  
 }

 .hosting img{
   border-top-right-radius: 20px;
   border-top-left-radius: 20px;
 }

.populaire-title{
   flex-direction: row;
   justify-content: space-between;
   align-items: center;
}
 .populaire img{
   border-bottom-left-radius: 20px;
   border-top-left-radius: 20px;
 }

 .carte{
   background-color: white;
   padding:0.3rem;
   border-radius: 1.25rem; 
   box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
   transition: 0.3s;
   margin:0.5rem;
   flex:1;
   font-size: 0.8rem;
 }

 .carte i{
   font-size: 0.8rem;
 }



/* Media query for mobile */

@media (min-width: 768px) and (max-width: 992px){
.main-content{
   flex-direction: column;
   justify-content: center;
}

.populaire-content{
   flex:2;
   justify-content: space-around;
   padding-left: 1rem;
   flex-direction: column;
   font-size: 0.8rem;
}

.populaire .groupe{
   flex-direction: row;
}



 h3{
   font-size: 0.7rem;
}

.populaire p, .hosting p{
   font-size: 0.6rem;
}

.activities-img {
   
   height: 15.75rem;
}

}


@media (max-width: 767px){

   body{
      padding:0;
   }

   .main-header{
      flex-direction:column;
      justify-content: center;
      align-items: center;
      padding:0;
   }


   .logo{
      
    margin-top: 2rem;
      
   }

   .navigation{
      width:100%;
      margin-top:1rem;
      padding:2%;
      
   }

   .navigation a{
      width:50%;
      text-align: center;
      padding:44px;
   }

.navigation a:hover{
     border-top:none;
     border-bottom: 3px solid #0065FC;
}

.hero{
   justify-content: center;
   align-items: center;
}

.rechercher{
   display: none;
}

.submit-mobile{
   display:block;
}
.filtres-section{
   justify-content: center;
   flex-direction: column;
   align-items: start;
}

.filtres-links li{
 width:45%;
 flex-wrap: wrap;
}

.main-content{
   flex-direction: column-reverse;
   justify-content: center;
}

.groupe,.activities-groupe{
   flex-direction: column;
}

.carte-activities {
  
   max-width: 100%;
}

.activities-img {
   
   height: 144px;;
}

.main-footer{
   flex-direction: column;
}




h1,h2{
   font-size:1.375rem;
   overflow-wrap: break-word;
}

}