

/*global styles*/

/* googlefonts Raleway */

@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100;400;700&display=swap');

/* Il est souvent utile de définir la taille des boîtes sur border-box pour mettre en page les éléments.
 Cela facilite grandement la gestion des tailles des éléments et élimine généralement un certain nombre de pièges
  que vous pouvez rencontrer lors de la mise en page de votre contenu.
  Il garantit que la boîte de contenu se rétrécit pour faire de la place pour le rembourrage et les bordures.*/
*{
   font-family: 'Raleway', sans-serif;
   line-height:1.6;
   box-sizing: border-box;
   margin:0; 
}

html{
   scroll-behavior: smooth;
}

body{
   width:100vw;
   height:100vh;
   background-color: white;
}

img{
   width: 100%;
   height: 100%;

}

h1,h2,h3,h4,h5,h6{
   
   font-weight: 700;
   color:black;
  
}

p{
   font-weight: 400;
   color:black;
  
}

ul{
   list-style-type:none;
}

a{
   text-decoration:none;
   color:black;
}


/* Mis en page */

.flex{
   display:flex;
   
}

.column{
   flex-direction: column;
}

.row{
   flex-direction: row;
}

.wrapper{
   width:70rem;
   height:100vh;
   margin:auto;
   gap:1rem;
   
}

.main-header{
   justify-content: space-between;
   align-items: center;
   padding-top:0.5rem;
}



.main-form{
   gap:0.5rem;
   
}

.rechercher,.filtres{
   justify-content: flex-start;

}

.filtres{
   align-items: center;
}

.container-main{
   gap:0.5rem;
}

.hérbergements{
   background-color: #F2F2F2;
   gap:0.5rem;
   padding:1rem;
   border-radius: 1rem;

}

.hérbergements-groupe{
   gap:0.5rem;
   padding:0.5rem;

}

.hérbergements-groupe .carte{
   flex-direction: column;
  }


  .populaire{
   gap:0.5rem;
   padding:1rem;
   border-radius: 1rem;
  }

  .main-footer{
   background-color: #F2F2F2;
   justify-content: space-evenly;
   padding:1.5rem;
  }

  .populaire i{
   color:#0065FC;
  }

/*components*/

h1{
   font-size: 1.2rem;
   
}
.logo{
   width:4.8rem;
   
  }

  .main-nav a{
   font-family: 'Raleway', sans-serif;
   font-weight: 400;
   margin:5px;
   padding:5px;
   text-decoration: none;
   color:black;
   font-size:0.8rem;
}

 .main-nav a:hover{
   color:#0065FC;
   border-top: 3px solid #0065FC;
}

.filtre-btn{
   background-color: white;
   border:1px #F2F2F2 solid;
   border-radius: 1rem;
   padding:0.3rem;
   line-height:19px;

}

.filtre-btn:hover{
   background-color: #DEEBFF;
 
}


.filtres i{
   color:#0065FC;
   font-size:0.8rem;
   padding:0.5rem;
}

 
    .search-label{
      background-color: #F2F2F2;
      border-radius: 0.625rem;
      border-top-right-radius: 0%;
      border-bottom-right-radius: 0%;
      padding: 10px;
    }

    input[type=search] {
      border: 0.07rem solid #F2F2F2;
      font-weight: 700;
      padding: 10px;
    }

    input[type=submit] {
 
      border: none;
      background-color: #0065FC;
      color: white;
      padding: 10px;
      border-radius: 0.5rem;
      border-top-left-radius: 0%;
      border-bottom-left-radius: 0%;
      
    }

    .submit-mobile{
      display:none;
      border: none;
      background-color: #0065FC;
      color: white;
      padding: 10px;
      border-radius: 0.5rem;
      border-top-left-radius: 0%;
      border-bottom-left-radius: 0%;
    }

     .main-form p i{
      color:#0065FC;
    }

    .carte i{
      color:#0065FC;
      font-size:0.8rem;
    }

    .etoile-grey{
      color:#F2F2F2!important;
     }

     label{
      font-weight: 700;
     }

 .container-main img, .activities img{
   object-fit: cover;
 }

 .container-main h3{
   font-size: 0.9rem;
 }

  .hébergement-img{
   width:15rem;
   height:7rem;
  }

  .hébergement-img img{
   border-top-left-radius: 1.25rem;
   border-top-right-radius: 1.25rem;
 
  }


  .activities{
   justify-content:space-evenly;
   gap:0.5rem;
  }

  .activities-groupe{
   gap:0.5rem;
   justify-content: space-around;
  }
  .activities img{
   border-top-left-radius:1.25rem;
   border-top-right-radius:1.25rem;
 }

 .activities-img{
   width:14rem;
   height:22.75rem;
  }

  .activities h4{
  font-size:0.8rem;
  }

  .carte{
   background-color: white;
   padding:0.5rem;
   border-radius: 1.25rem; 
   box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
   transition: 0.3s;
  }

  .carte-activites{
   border-radius: 1.25rem;
   box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
   background-color: white;
   transition: 0.3s;
  }


  .populaire{
   flex-direction: column;
   background-color: #F2F2F2;
  }

  .populaire-groupe{
   flex-direction: column;
   gap:1rem;
  }

  .populaire-img{
   border-top-left-radius: 0.2rem;
   width:5.563rem;
  
  }

  .populaire-title{
   justify-content: space-between;
   align-items:baseline;
   
  }

  .populaire .description{
   padding-left:0.5rem;
   justify-content: space-around;
   font-size: 0.8rem;
  }

  .populaire a, .hérbergements a {
   width:100%;
  }


.populaire h3{
   font-size: 0.8rem;
}

  .populaire .carte{
   height: 7rem;
  }

  h5{
   font-size:1rem;
  }

  .carte-activites .description{
   padding:0.5rem;
  
  }

  .btn-groupe{
   flex-direction: row;
   justify-content: space-evenly;
   gap:1rem;
   margin-left: 0.5rem;
  }


/* Media Query for Tablets Ipads portrait mode */
@media (min-width: 678px) and (max-width: 1024px){

   .wrapper{
      width:45rem;
      margin:auto;
      
   }

   .container-main{
      flex-direction: column;
   }

   .populaire-groupe{
      flex-direction: row;
      
   }

   .populaire .carte{
      flex:1;
   }

   .hébergement-img{
      width:100%;
      height:5rem;
     }

     .populaire-img{
      width:7rem;
      
     }

   .activities-img{
      width:10rem;
      height:12rem;
     }

     .description{
      font-size:0.8rem;
     }

     
  .activities h4{
   font-size:0.7rem;
   }

    
}

/* Media query for mobile */

@media (min-width: 140px) and (max-width: 667px){

   body{
      width:100vw;
      height:100vh;
   }

   .wrapper{
      width:22rem;
      margin:auto;
      
   }

   .main-header{
      padding:1rem;
   }

   .main-nav{
      margin-top:1rem;
   }

   .row{
      flex-direction: column;
   }

   .populaire a, .hérbergements a {
      width:90%;
     }

     .activities-groupe a{
      width:70%;
     }

   .hébergement-img, .activities-img {
      width:100%;
      height:6rem;
     }

     h1{
      font-size: 0.8rem;
     }

     h2{
      font-size: 0.8rem;
     }

     h3{
      font-size:0.75rem;
     }


     p{
      font-size: 0.7rem;
     }

     .main-nav a{
      font-size:1rem;
      padding:0.5rem;
    }
   
   .main-nav a:hover{
     border-top:none;
     border-bottom: 3px solid #0065FC;

}

.container-main{
   flex-direction: column-reverse;
 
}

.hérbergements-groupe,.populaire-groupe, .activities-groupe{
   justify-content: center;
   align-items:center;
}

.main-form{
   justify-content: center;
   align-items:center;
}


.main-footer{
   justify-content:first baseline;
 
}

.submit-mobile{
   display:block;
}

.submit-desktop{
   display:none;
}



}






